.container {
  .list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .bus {
      border: 1px solid #bcbcbc;
      margin: 0.5rem;
      padding: 0.5rem;
      border-radius: 4px;
      box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 28%;
      background-color: rgba(255, 255, 255, 0.902);
      cursor: pointer;

      &:hover {
        box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
          0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
      }

      span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 13px;

        &:first-child {
          text-align: right;
          font-weight: 800;
          font-size: 11px;
        }
      }
    }
  }
}
