.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  header {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;

    span {
      text-align: center;
      font-weight: 600;

      &:first-child {
        font-size: 12px;
      }
    }
  }
  .coordinate-list {
    label {
      display: flex;
      justify-content: center;
      box-shadow: 0px 2px 0px #0a080a14;
    }

    .mat-icon {
      height: unset;
    }

    .mat-list-base {
      overflow: auto;
      height: 20vh;
    }
  }
}

.mat-vertical-stepper-header .mat-step-icon {
  width: 18px;
  height: 18px;
}
