.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  width: 55vw;
  gap: 2rem;

  &:first-child {
    align-self: end;
  }

  .imgs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem 0.5rem;
  }
}
